body {
  position: relative;
  margin: 0;
  min-width: 1408px;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 32px;
  color: #f2f2f2;
  background-color: #2b1849;
  background-image: url("img/pattern-lines-hero.svg");
  background-position: center;
}

.container {
  max-width: 1408px;
  margin: 0 auto;
  padding: 0 16px;
}



.page-header {
  margin: 0;
  padding: 40px 0;
}

.page-header a,
.page-footer a {
  position: relative;
  margin-right: 64px;
  padding-bottom: 10px;
  padding-top: 9px;
  font-weight: 500;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
  color: inherit;
}

.page-header a:focus,
.page-header a:hover,
.page-footer a:focus,
.page-footer a:hover {
  color: #ff7e4d;
}

.page-header a::after,
.page-footer a::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #ff7e4d;
  transition: width 200ms;
}

.page-header a:hover::after,
.page-footer a:hover::after {
  width: 100%;
}

.header-email,
.footer-email {
  padding-left: 28px;
  background-image: url("img/icon-email.svg");
}

.header-email:focus,
.header-email:hover,
.footer-email:focus,
.footer-email:hover {
  background-image: url("img/icon-email-alt.svg");
}

.header-phone,
.footer-phone {
  padding-left: 21px;
  background-image: url("img/icon-phone.svg");
}

.header-phone:focus,
.header-phone:hover,
.footer-phone:focus,
.footer-phone:hover {
  background-image: url("img/icon-phone-alt.svg");
}

.page-header a:active,
.page-footer a:active {
  opacity: 0.5;
}

.hero-image {
  position: relative;
  padding-top: 200px;
  height: 798px;
  background-image: url("img/bg-html.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 48px;
}

.hero-image .container {
  display: flex;
  flex-direction: column;
}

.hero-image::before {
  margin-left: 50%;
  position: absolute;
  content: "";
  top: 24px;
  
  width: 800px;
  height: 800px;
  background-image: url("img/devservicespoints2.png");
  background-repeat: no-repeat;
}

.hero-image::after {
  position: absolute;
  content: "";
  height: 170px;
  width: 100%;
  bottom: 0;
  background-color: #110a24;
  background-image: url("img/bg-tags.svg");
  background-position: center;
  background-repeat: no-repeat;
  border-top: 2px solid #5053a8;
  border-bottom: 2px solid #5053a8;
}

.heading {
  z-index: 1;
  order: 2;
  margin: 0 0 0 -10px;
  width: 815px;
  font-size: 96px;
  line-height: 112px;
  font-weight: 500;
}

.hero-image p {
  z-index: 1;
  order: 1;
  margin: 0;
  padding: 32px 0;
  padding-bottom: 16px;
  font-size: 32px;
  line-height: 48px;
  color: #ff7e4d;
}

.intro,
.portfolio {
  background-color: #2b1849;
  background-image: url("img/pattern-lines.svg");
  background-repeat: repeat-y;
  background-position-x: center;
}

.intro {
  padding-top: 80px;
  padding-bottom: 10px;
  min-height: 770px;
}

.subheading {
  margin: 0 0 70px;
  text-align: center;
  font-size: 72px;
  line-height: 88px;
  font-weight: 500;
  color: #ff7e4d;
  
}

.intro .container {
  position: relative;
}

.user-image {
  position: absolute;
  margin: 0;
}


.intro .container div {
  margin-left: 720px;
  margin-bottom: 56px;
}

.intro h3 {
  margin: 50px 0 70px;
  text-align: center;
  font-size: 38px;
  line-height: 48px;
  font-weight: 400;
}

.intro p {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  margin-left: 50px;
  margin-right: 50px;
  line-height: normal;
}

li {
  font-size: 20px;
  margin-left: 80px;
}

.portfolio {
  margin-bottom: 185px;
  padding-bottom: 0;
  padding-top: 80px;
}

.page-footer {
  padding: 40px 0;
  background-color: #110a24;
}

.playlist {
  font-size: 24px;
  text-transform: uppercase;
  font-style: italic;
  font-family: 'William', serif;
  margin-bottom: 0;
 padding-top: 34px;
  margin-top: 0;
  font-weight: normal; 
  color: white;
}

.music h2 {
  font-size: 30px;
  text-transform: uppercase;
  font-family: 'Inter', sans-serif;
  margin-top: 0;
  margin-bottom: 24px;
  color: white;
}

img  {
  width: 250px;
  margin-bottom: 40px;
}

.music p{
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  text-align: center;
  
}
.music {
  background-color: rgba(123, 230, 194, 0.432);
  width: 500px;
  height: 485px;
  text-align: center;
  margin: auto;

}
 .music h3{
  font-family: 'William', serif;
margin: 0;
font-size: 15px;
text-transform: uppercase;
line-height: 18px;
font-weight: normal; 
color: white;
margin-bottom: 80px;
}

 .music a{
  color: white;
}

.page-design {
  height: 170px;
  border-top: 2px solid #5053a8;
  border-bottom: 2px solid #5053a8;
  background-color: #110a24;
  background-image: url("img/bg-tags.svg");
  background-position: center;
  background-repeat: no-repeat;
  
}

